body {
  font-family: 'Rubik', sans-serif;
  width: 100%;
  background-image: -webkit-gradient(linear, right top, left top, from(#077344), color-stop(#047347), color-stop(#02734a), color-stop(#00724d), color-stop(#007250), color-stop(#007150), color-stop(#017050), color-stop(#016f50), color-stop(#016d4d), color-stop(#006b4a), color-stop(#006947), to(#006744));
  background-image: linear-gradient(to left, #077344, #047347, #02734a, #00724d, #007250, #007150, #017050, #016f50, #016d4d, #006b4a, #006947, #006744);
}

.wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 95%;
  margin: 0 auto;
}

.card {
  width: 120px;
  height: 174.4px;
  position: relative;
  -webkit-perspective: 1000px;
          perspective: 1000px;
  margin: 5px;
  background-color: transparent;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.card:active {
  -webkit-transform: scale(0.97);
          transform: scale(0.97);
  -webkit-transition: -webkit-transform .1s;
  transition: -webkit-transform .1s;
  transition: transform .1s;
  transition: transform .1s, -webkit-transform .1s;
}

.card__front, .card__back {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  -webkit-box-shadow: 2px 2px 5px 0px #575757;
          box-shadow: 2px 2px 5px 0px #575757;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.card__front {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  background-image: -webkit-gradient(linear, left top, right bottom, from(#e9fff6), color-stop(#ecfffb), color-stop(#f0fffe), color-stop(#f5feff), color-stop(#fbfeff), color-stop(#fafdff), color-stop(#f9fcff), color-stop(#f9fbff), color-stop(#f2f9fe), color-stop(#eaf8fc), color-stop(#e3f6f6), to(#dff4ed));
  background-image: linear-gradient(to right bottom, #e9fff6, #ecfffb, #f0fffe, #f5feff, #fbfeff, #fafdff, #f9fcff, #f9fbff, #f2f9fe, #eaf8fc, #e3f6f6, #dff4ed);
}

.card-back-img {
  width: 100%;
  border-radius: 8px;
}

.name-red {
  color: #ff0000;
}

.card__name, .card__name-rotated {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 30px;
  height: 60px;
  position: absolute;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card__name {
  left: 5px;
  top: 0px;
}

.card__name-rotated {
  right: 5px;
  bottom: 0px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

p {
  font-size: 34px;
}

.name-suit {
  width: 15px;
  height: 15px;
}

.card__suit-main {
  width: 50px;
  height: 50px;
}

@-webkit-keyframes card-anim {
  0% {
    position: relative;
    margin-top: -208px;
    -webkit-transform: rotate3d(0, 1, -2, -5.75turn);
            transform: rotate3d(0, 1, -2, -5.75turn);
  }
  50% {
    -webkit-transform: rotate3d(0, 0, -0.25, 225deg) scale3d(1.5, 1.5, 1.5);
            transform: rotate3d(0, 0, -0.25, 225deg) scale3d(1.5, 1.5, 1.5);
    margin-top: 308px;
  }
  100% {
    position: relative;
  }
}

@keyframes card-anim {
  0% {
    position: relative;
    margin-top: -208px;
    -webkit-transform: rotate3d(0, 1, -2, -5.75turn);
            transform: rotate3d(0, 1, -2, -5.75turn);
  }
  50% {
    -webkit-transform: rotate3d(0, 0, -0.25, 225deg) scale3d(1.5, 1.5, 1.5);
            transform: rotate3d(0, 0, -0.25, 225deg) scale3d(1.5, 1.5, 1.5);
    margin-top: 308px;
  }
  100% {
    position: relative;
  }
}

.card2 {
  z-index: 999;
  -webkit-animation-name: card-anim;
          animation-name: card-anim;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}

@-webkit-keyframes card-anim2 {
  0% {
    position: relative;
    margin-top: 308px;
    -webkit-transform: rotate3d(0, 2, 2, -0.5turn);
            transform: rotate3d(0, 2, 2, -0.5turn);
  }
  50% {
    -webkit-transform: rotate3d(0, 2, 2, 0turn) scale3d(1.2, 1.2, 1.2);
            transform: rotate3d(0, 2, 2, 0turn) scale3d(1.2, 1.2, 1.2);
  }
  100% {
    position: relative;
  }
}

@keyframes card-anim2 {
  0% {
    position: relative;
    margin-top: 308px;
    -webkit-transform: rotate3d(0, 2, 2, -0.5turn);
            transform: rotate3d(0, 2, 2, -0.5turn);
  }
  50% {
    -webkit-transform: rotate3d(0, 2, 2, 0turn) scale3d(1.2, 1.2, 1.2);
            transform: rotate3d(0, 2, 2, 0turn) scale3d(1.2, 1.2, 1.2);
  }
  100% {
    position: relative;
  }
}

.card1 {
  -webkit-animation-name: card-anim2;
          animation-name: card-anim2;
  -webkit-animation-duration: 2.5s;
          animation-duration: 2.5s;
}

@-webkit-keyframes front-start-flip {
  10%, 90% {
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
  }
}

@keyframes front-start-flip {
  10%, 90% {
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
  }
}

@-webkit-keyframes back-start-flip {
  10%, 90% {
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
  }
}

@keyframes back-start-flip {
  10%, 90% {
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
  }
}

.card__front {
  -webkit-animation-name: front-start-flip;
          animation-name: front-start-flip;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-animation-duration: 6.5s;
          animation-duration: 6.5s;
}

.card__back {
  -webkit-animation-name: back-start-flip;
          animation-name: back-start-flip;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-animation-duration: 6.5s;
          animation-duration: 6.5s;
  background-color: #70df30;
}

.flip-front {
  -webkit-transform: rotateY(360deg);
          transform: rotateY(360deg);
}

.flip-back {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.result, .task, .new-game {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 80px;
  background-color: white;
  border-radius: 8px;
  -webkit-box-shadow: 2px 2px 5px 0px #575757;
          box-shadow: 2px 2px 5px 0px #575757;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  text-align: center;
  margin: 2px;
}

.info-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  width: 590px;
}

.task {
  width: 200px;
}

.result {
  width: 380px;
  font-size: 16px;
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
}

.result__text {
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
}

.invisible {
  opacity: 0;
}

.new-game {
  visibility: hidden;
  cursor: pointer;
}

.new-game:hover {
  background-color: #3bf03b;
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
}

.new-game:active {
  -webkit-transform: translateX(2px) translateY(2px);
          transform: translateX(2px) translateY(2px);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.visible {
  visibility: visible;
}

.card-to-find {
  font-size: 28px;
  color: red;
}
/*# sourceMappingURL=style.css.map */